* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  //避免按button到不該按的
  pointer-events: none;
}

body {
  background-color: #eae0d5;
  background-image: url("../images/asfalt-dark.png");
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #5e503f;
    font-size: 3rem;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  input,
  button {
    border: none;
    padding: 0.75rem 1rem;
    margin: 0rem 0.25rem;
    font-size: 1.75rem;
    color: #5e503f;
  }
  input[type="number"] {
    width: 8vw;
    text-align: center;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  button {
    cursor: pointer;
    background-color: #c6ac8f;
    color: #5e503f;
    padding: 0.75rem 1.5rem;
    // border-bottom: 0.5rem solid #5e503f;
    box-shadow: 0 0.3rem #5e503f;
    border-radius: 10rem;
    transition: ease 0.25s;
  }
  button:hover {
    background-color: #b49f87;
  }
  button:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0.1rem #5e503f;
    // border-bottom: 0.25rem solid #5e503f;
  }
}

div.sort {
  display: flex;
  justify-content: center;
  align-self: center;
  button {
    margin: 0 0.5rem;
    padding: 0.75rem 1rem;
    font-size: 1.75rem;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    background-color: #c6ac8f;
    color: #5e503f;
    box-shadow: 0 0.3rem 0 -0.05rem #5e503f;
    border-radius: 0.75rem;
    transition: ease 0.25s;
  }
  button:hover {
    background-color: #b49f87;
  }
  button:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0.1rem 0 -0.05rem #5e503f;
    // border-bottom: 0.25rem solid #5e503f;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.todo {
    display: flex;
    align-items: center;
    width: 40vw;
    margin: 0.5rem 0rem;
    transition: all 0.5s ease;
    p {
      background-color: white;
      color: #5e503f;
      padding: 0.75rem 1.25rem;
      font-size: 1.75rem;
    }
    p.todo-text {
      width: 80%;
    }
    p.todo-time {
      width: 30%;
      text-align: center;
    }

    button {
      margin: 0 0.5rem;
      padding: 0.75rem 1rem;
      font-size: 1.75rem;
      border: none;
      border-radius: 10rem;
      cursor: pointer;
      background-color: #c6ac8f;
      color: #5e503f;
      box-shadow: 0 0.3rem 0 -0.05rem #5e503f;
      border-radius: 0.75rem;
      transition: ease 0.25s;
    }
    button:hover {
      background-color: #b49f87;
    }
    button:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.1rem 0 -0.05rem #5e503f;
      // border-bottom: 0.25rem solid #5e503f;
    }
  }

  div.done {
    p {
      text-decoration: line-through;
      text-decoration-thickness: 0.25rem;
      opacity: 0.65;
    }
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
